.book-marks {
  .user-icon {
    a {
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
      }

      img {
        @include square(50px);
      }

      .icon {
        font-size: 30px;
      }
    }
  }
}

.contacts {
  .user-icon {
    a {
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
      }

      img {
        @include square(50px);
      }

      .icon {
        font-size: 30px;
      }
    }
  }
  .popover.popover-left .popover-container {
    left: -15px;
  }
}
